* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-back {
  background-color: #f3f4f6;
  width: 576px;
  height: 100vh;
}
.all-back {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: flex-end;
  width: 576px;
  background-color: #f3f4f6;
  z-index: -9;
}
.book-back {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 576px;
  background-color: #f3f4f6;
  z-index: -9;
}
